
<div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-14975226220">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
<span class="ba-edit-wrapper"><i class="zmdi zmdi-plus-circle add-columns"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Add New Row</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-edit edit-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Edit</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-copy copy-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Copy Item</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-globe add-library"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Add to Library</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-delete delete-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Delete Item</span></span><span class="ba-edit-text">Section</span>
</div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
 <div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid row-with-intro-items" id="item-14975226221">
 <div class="ba-overlay"></div>
 
 
 
 
<div class="column-wrapper">
 <div class="ba-grid-column-wrapper span6 ba-tb-la-8 ba-sm-la-12" data-span="6" style="">
 <div class="ba-grid-column column-content-align-middle" id="item-14975226225">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-post-intro ba-item" id="item-14975226224">
 <div class="intro-post-wrapper">
 [intro-post-image]
 <div class="intro-post-title-wrapper">
 <h1 class="intro-post-title">[intro-post-title]</h1>
 </div>
 <div class="intro-post-info">
<span class="intro-post-date">[intro-post-date]</span>
<span class="intro-post-category">[intro-post-category]</span>
<span class="intro-post-comments"><a href="#total-count-wrapper">Leave a comment</a></span>
<span class="intro-post-hits">40 Views</span>
<span class="intro-post-reviews">
 <span class="ba-blog-post-rating-stars">
<i class="zmdi zmdi-star" style="width: 0%;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i> </span>
 <a class="ba-blog-post-rating-count" href="#total-reviews-count-wrapper">Leave review</a>
</span>
</div>
 </div>
 
 
 </div>
 <div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add new element </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="ba-grid-column-wrapper span3 ba-tb-la-4 ba-sm-la-12" data-span="3" style="">
 <div class="ba-grid-column column-content-align-middle" id="item-14975226226">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field ba-item" id="item-15681250570">
 <div class="ba-field-wrapper ba-label-position-left">
 <div class="ba-field-label"><p>Price</p></div>
 <div class="ba-field-content"><span class="field-price-wrapper "><span class="field-price-currency">$</span><span class="field-price-value">1 000.00</span></span></div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add new element </span>
 </span>
 </div>
 <div class="column-info">Span 3</div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="ba-grid-column-wrapper span3" data-span="3" style="">
 <div class="ba-grid-column column-content-align-middle" id="item-15681249993">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-overlay-section ba-item" id="item-15681250080" data-overlay="item-15681250081">
 <div class="ba-button-wrapper">
 <a class="ba-btn-transition">
 <span class="">Book Now</span>
 	
 </a>
 </div>
 
 
<div class="ba-overlay-section-backdrop vertical-right" data-id="item-15681250081">
 <div class="ba-overlay-section-close" style=""></div>
 <div class="ba-wrapper ba-overlay-section ba-container" data-id="item-15681250081">
 <div class="ba-section row-fluid" id="item-15681250081">
 <div class="close-overlay-section">
 <i class="ba-icons ba-icon-close ba-overlay-section-close"></i>
 </div>
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
 <div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid" id="item-15681250083">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="span12 ba-grid-column-wrapper" data-span="12">
 <div class="ba-grid-column" id="item-15681250084">
 <div class="ba-overlay"></div>
 
 
 <div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 </div>
 </div>
</div>
 </div>
 </div>
 </div>
</div>
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">Span 3</div>
 </div>
 </div>
 </div>
</div>
 </div>
 <div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid" id="item-15681252910">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="span12 ba-grid-column-wrapper" data-span="12">
 <div class="ba-grid-column" id="item-15681252911">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field-slideshow ba-item" id="item-15681252980">
	<div class="slideshow-wrapper">
 <ul class="ba-slideshow ba-fade-in">
<div class="slideshow-content ba-field-content lightbox-enabled">
 <li class="item active">
 <div class="ba-slideshow-img">
 <div id="1550481610413"></div>
 </div>
 </li>
 <li class="item">
 <div class="ba-slideshow-img">
 <div id="1550481610414"></div>
 </div>
 </li>
 </div>
 <div class="empty-list">
 <i class="zmdi zmdi-alert-polygon"></i>
 <p>You have no items here</p>
 </div>
 <div class="ba-slideshow-nav">
 <a class="ba-btn-transition slideshow-btn-prev zmdi zmdi-chevron-left" data-slide="prev"></a>
 <a class="ba-btn-transition slideshow-btn-next zmdi zmdi-chevron-right" data-slide="next"></a>
 </div>
 <div class="ba-slideshow-dots center-align thumbnails-dots dots-position-outside disable-move" style="--dots-count:2;">
<div data-ba-slide-to="0" class="zmdi zmdi-circle active"></div>
<div data-ba-slide-to="1" class="zmdi zmdi-circle"></div>
</div>
 </ul>
</div>
	
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 </div>
 </div>
</div>
</div>
 </div>
</div> <div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-15681259920">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-copy copy-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Copy Item </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-globe add-library"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add to Library </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete Item </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
<div class="ba-row-wrapper ba-container" style="">
 <div class="ba-row row-fluid" id="item-15681253880">
 <div class="ba-overlay"></div>
 
 
 
 
<div class="column-wrapper">
 <div class="span3 ba-grid-column-wrapper ba-tb-la-3 ba-tb-pt-6 ba-sm-pt-12" data-span="3">
 <div class="ba-grid-column column-content-align-middle" id="item-15681253881">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field ba-item" id="item-15681254170">
 <div class="ba-field-wrapper ba-label-position-left">
 <div class="ba-field-label"><p>Square m2</p></div>
 <div class="ba-field-content">Value</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="span3 ba-grid-column-wrapper ba-tb-la-3 ba-tb-pt-6 ba-sm-pt-12" data-span="3">
 <div class="ba-grid-column" id="item-15681253952">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field ba-item" id="item-15681257999990" style="">
 <div class="ba-field-wrapper ba-label-position-left">
 <div class="ba-field-label"><p>Max. guest</p></div>
 <div class="ba-field-content">Value</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 3 </div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="span3 ba-grid-column-wrapper ba-tb-la-3 ba-tb-pt-6 ba-sm-pt-12" data-span="3">
 <div class="ba-grid-column" id="item-15681253953">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field ba-item" id="item-15681259546780" style="">
 <div class="ba-field-wrapper ba-label-position-left">
 <div class="ba-field-label"><p>Double bed</p></div>
 <div class="ba-field-content">Value</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 3 </div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="span3 ba-grid-column-wrapper ba-tb-la-3 ba-tb-pt-6 ba-sm-pt-12" data-span="3">
 <div class="ba-grid-column" id="item-15681253954">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field ba-item" id="item-15681256613640" style="">
 <div class="ba-field-wrapper ba-label-position-left">
 <div class="ba-field-label"><p>Bedrooms</p></div>
 <div class="ba-field-content">Value</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 3 </div>
 </div>
 </div>
 </div>
</div>
</div>
 </div>
 </div>
</div>
<div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-15681261050">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-copy copy-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Copy Item </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-globe add-library"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add to Library </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete Item </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
<div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid" id="item-15681261051">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="ba-grid-column-wrapper span6 ba-tb-la-6 ba-tb-pt-12" data-span="6" style="">
 <div class="ba-grid-column" id="item-15681261052">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field ba-item" id="item-15681262730">
 <div class="ba-field-wrapper">
 <div class="ba-field-label"><p>Description</p></div>
 <div class="ba-field-content">Value</div>
 </div>
 
 
</div>
<div class="ba-item-headline ba-item" id="item-15681283160" style="">
	<div class="headline-wrapper" contenteditable="true">
 <h4>Pricing</h4>
 </div>
	
 
</div>
<div class="ba-item-field-group ba-item" id="item-15681272100400">
 <div class="ba-field-group-wrapper">
 <div class="ba-field-wrapper ba-label-position-left" data-id="item-15681272100401">
<div class="ba-field-label"><p>Mon - Fri</p></div>
<div class="ba-field-content"><span class="field-price-wrapper "><span class="field-price-currency">$</span><span class="field-price-value">1 000.00</span></span></div>
</div>
<div class="ba-field-wrapper ba-label-position-left" data-id="item-15681272100402">
<div class="ba-field-label"><p>Weekends</p></div>
<div class="ba-field-content"><span class="field-price-wrapper "><span class="field-price-currency">$</span><span class="field-price-value">1 000.00</span></span></div>
</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="ba-grid-column-wrapper span6 ba-tb-la-6 ba-tb-pt-12" data-span="6" style="">
 <div class="ba-grid-column" id="item-15681261053">
 <div class="ba-overlay"></div>
 
 
 
<div class="ba-item-field ba-item" id="item-15681900280">
 <div class="ba-field-wrapper">
 <div class="ba-field-label"><p>Amenities</p></div>
 <div class="ba-field-content">Value</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 </div>
 </div>
</div>
 </div>
 </div>
</div>
 <div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-15681281540">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-copy copy-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Copy Item </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-globe add-library"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add to Library </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete Item </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
<div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid" id="item-15681281541">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="span12 ba-grid-column-wrapper" data-span="12">
 <div class="ba-grid-column" id="item-15681281542">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-headline ba-item" id="item-15681283430890" style="">
	<div class="headline-wrapper" contenteditable="true">
 <h4>Other Rooms</h4>
 </div>
	
 
</div>
<div class="ba-item-recent-posts ba-item" id="item-15681284730" data-app="1" data-count="3" data-sorting="created" data-maximum="75" data-category="">
 <div class="ba-blog-posts-wrapper ba-grid-layout"></div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 </div>
 </div>
</div>
 </div>
 </div>
</div>
