<div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-14975226220">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
<span class="ba-edit-wrapper"><i class="zmdi zmdi-plus-circle add-columns"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Add New Row</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-edit edit-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Edit</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-copy copy-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Copy Item</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-globe add-library"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Add to Library</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-delete delete-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Delete Item</span></span><span class="ba-edit-text">Section</span>
</div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
 <div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid row-with-intro-items" id="item-14975226221">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="ba-grid-column-wrapper span6 ba-tb-la-6 ba-tb-pt-12" data-span="6" style="">
 <div class="ba-grid-column" id="item-14975226225">
 <div class="ba-overlay"></div>
 
 
 
 
<div class="ba-item-product-slideshow ba-item" id="item-15948920180">
	<div class="slideshow-wrapper ba-left-thumbnails-navigation dots-position-outside">
 <ul class="ba-slideshow ba-fade-in">
 <div class="slideshow-content ba-field-content lightbox-enabled">
 <li class="item active">
 <div class="ba-slideshow-img">
 <div id="1550481610413"></div>
 </div>
 </li>
 <li class="item">
 <div class="ba-slideshow-img">
 <div id="1550481610414"></div>
 </div>
 </li>
 </div>
 <div class="empty-list">
 <i class="zmdi zmdi-alert-polygon"></i>
 <p>You have no items here</p>
 </div>
 <div class="ba-slideshow-nav">
 <a class="ba-btn-transition slideshow-btn-prev zmdi zmdi-chevron-left" data-slide="prev"></a>
 <a class="ba-btn-transition slideshow-btn-next zmdi zmdi-chevron-right" data-slide="next"></a>
 </div>
 <div class="ba-slideshow-dots center-align thumbnails-dots disable-move" style="--dots-count:2;"><div data-ba-slide-to="0" class="zmdi zmdi-circle active"></div><div data-ba-slide-to="1" class="zmdi zmdi-circle"></div></div>
 </ul>
 </div>
	
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add new element </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="ba-grid-column-wrapper span6 ba-tb-la-6 ba-tb-pt-12" data-span="6" style="">
 <div class="ba-grid-column" id="item-14975226226">
 <div class="ba-overlay"></div>
 
 
 
<div class="ba-item-post-intro ba-item" id="item-14975226224" style="">
 <div class="intro-post-wrapper">
 [intro-post-image]
 <div class="intro-post-title-wrapper">
 <h1 class="intro-post-title">[intro-post-title]</h1>
 </div>
 <div class="intro-post-info">
<span class="intro-post-date">[intro-post-date]</span>
<span class="intro-post-category">[intro-post-category]</span>
<span class="intro-post-comments"><a href="#total-count-wrapper">Leave a comment</a></span>
<span class="intro-post-hits">8 Views</span>
<span class="intro-post-reviews">
 <span class="ba-blog-post-rating-stars">
<i class="zmdi zmdi-star" style="width: 0%;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i> </span>
 <a class="ba-blog-post-rating-count" href="#total-reviews-count-wrapper">Leave review</a>
</span>
</div>
 </div>
 
 
 </div>
<div class="ba-item-add-to-cart ba-item" id="item-15948919360">
 <div class="ba-add-to-cart-wrapper">
 <div class="ba-add-to-cart-variations"></div>
 <div class="ba-add-to-cart-info">
 <div class="ba-add-to-cart-sku">
 <div class="ba-add-to-cart-row-label">
 SKU </div>
 <div class="ba-add-to-cart-row-value">
 00000001
 </div>
 </div>
 <div class="ba-add-to-cart-stock">
 <div class="ba-add-to-cart-row-label">
 In Stock </div>
 <div class="ba-add-to-cart-row-value">
 27
 </div>
 </div>
 </div>
 <div class="ba-add-to-cart-price">
 <span class="ba-add-to-cart-sale-price-wrapper ">
 <span class="ba-add-to-cart-price-currency">$</span>
 <span class="ba-add-to-cart-price-value">36.99</span>
 </span>
 <span class="ba-add-to-cart-price-wrapper ">
 <span class="ba-add-to-cart-price-currency">$</span>
 <span class="ba-add-to-cart-price-value">47.77</span>
 </span>
 </div>
 <div class="ba-add-to-cart-button-wrapper">
 <div class="ba-add-to-cart-quantity">
 <i class="zmdi zmdi-minus" data-action="-"></i>
 <input type="text" value="1">
 <i class="zmdi zmdi-plus" data-action="+"></i>
 </div>
 <div class="ba-add-to-cart-buttons-wrapper">
 <a class="ba-btn-transition" href="#">Add to Cart</a>
 <span class="ba-add-to-wishlist">
 <i class="zmdi zmdi-favorite"></i>
 <span class="ba-tooltip ba-top">Add to Wishlist</span>
 </span>
 </div>
 </div>
 </div>
 
 
</div>
<div class="ba-row-wrapper ba-container" style="">
 <div class="ba-row row-fluid" id="item-15948923210">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="ba-grid-column-wrapper span2" data-span="2" style="">
 <div class="ba-grid-column column-content-align-middle" id="item-15948923211">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-headline ba-item" id="item-15948924030">
	<div class="headline-wrapper" contenteditable="true">
 <h6>Share</h6>
 </div>
	
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="ba-grid-column-wrapper span10" data-span="10" style="">
 <div class="ba-grid-column column-content-align-middle" id="item-15948923212">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-social ba-item" id="item-15948922760" data-size="ba-social-sm" data-style="ba-social-minimal" style="--social-count:5;">
	<div class="ba-social ba-social-sm ba-social-minimal">
 <div class="facebook">
 <span class="social-button">
 <i class="zmdi zmdi-facebook"></i>Facebook
 </span>
 <span class="social-counter">0</span>
 </div>
 <div class="twitter">
 <span class="social-button">
 <i class="zmdi zmdi-twitter"></i>Twitter
 </span>
 </div>
 <div class="linkedin" style="">
 <span class="social-button">
 <i class="zmdi zmdi-linkedin"></i>LinkedIn
 </span>
 <span class="social-counter">0</span>
 </div>
 <div class="vk" style="">
 <span class="social-button">
 <i class="zmdi zmdi-vk"></i>VKontakte
 </span>
 <span class="social-counter">0</span>
 </div>
 <div class="pinterest" style="">
 <span class="social-button">
 <i class="zmdi zmdi-pinterest"></i>Pinterest
 </span>
 <span class="social-counter">0</span>
 </div>
 </div>
	
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 </div>
 </div>
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add new element </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid" id="item-15948927390">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="span12 ba-grid-column-wrapper" data-span="12">
 <div class="ba-grid-column" id="item-15948927391">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-tabs ba-item" id="item-15948927450">
 <div class="ba-tabs-wrapper tabs-top">
 <ul class="nav nav-tabs">
<li class="active"><a href="#tab-15948927451" data-toggle="tab"><span><span class="tabs-title">Description</span></span></a></li>
<li class=""><a href="#tab-1594893505068" data-toggle="tab"><span><span class="tabs-title">Reviews</span></span></a></li>
</ul>
 <div class="tab-content">
 <div class="tab-pane active" id="tab-15948927451">
<div class="ba-wrapper tabs-content-wrapper">
 <div class="ba-section row-fluid" id="item-15948927453">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-copy copy-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Copy Item </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-globe add-library"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add to Library </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete Item </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
<div class="ba-row-wrapper ba-container" style="">
 <div class="ba-row row-fluid" id="item-15948927454">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="span12 ba-grid-column-wrapper" data-span="12" style="">
 <div class="ba-grid-column" id="item-15948927455">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Plugin </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-sort-amount-desc add-columns-in-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add Nested Row </span>
 </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-item-field ba-item" id="item-15948947600">
 <div class="ba-field-wrapper">
 <div class="ba-field-label empty-content"><p></p></div>
 <div class="ba-field-content">Value</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 </div>
 </div>
</div>
 </div>
 </div>
</div>
 </div>
 
 <div class="tab-pane" id="tab-1594893505068">
<div class="ba-wrapper tabs-content-wrapper">
 <div class="ba-section row-fluid" id="item-15948935060">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-copy copy-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Copy Item </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-globe add-library"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add to Library </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete Item </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
<div class="ba-row-wrapper ba-container" style="">
 <div class="ba-row row-fluid" id="item-15948935061">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="span12 ba-grid-column-wrapper" data-span="12" style="">
 <div class="ba-grid-column" id="item-15948935062">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Plugin </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-sort-amount-desc add-columns-in-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add Nested Row </span>
 </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 
<div class="ba-item-reviews ba-item" id="item-15948963250">
 <div class="ba-comments-box-wrapper leave-review-enabled"><a name="total-reviews-count-wrapper"></a>
<div class="ba-comments-total-count-wrapper"><span class="ba-reviews-total-rating-wrapper">
 <span class="ba-reviews-total-rating">5.0</span>
 <span class="ba-review-rate-wrapper">
 <span class="ba-review-stars-wrapper">
 <i class="zmdi zmdi-star active" style="width: auto"></i>
 <i class="zmdi zmdi-star active" style="width: auto"></i>
 <i class="zmdi zmdi-star active" style="width: auto"></i>
 <i class="zmdi zmdi-star active" style="width: auto"></i>
 <i class="zmdi zmdi-star active" style="width: auto"></i>
 </span>
 <span itemscope="" itemtype="http://schema.org/Article">
 <meta itemprop="headline" content="">
 <meta itemprop="description" content="">
 <meta itemprop="mainEntityOfPage" content="">
 <meta itemprop="image" content="">
 <meta itemprop="datePublished" content="">
 <meta itemprop="dateModified" content="">
 <meta itemprop="author" content="">
 <span itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
 <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
 <meta itemprop="url" content="">
 <meta itemprop="image" content="">
 </span>
 <meta itemprop="name" content="">
 </span>
 <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
 <meta itemprop="ratingValue" content="5.0">
 <meta itemprop="reviewCount" content="1">
 </span>
 </span>
 </span>
</span>
<span class="ba-comments-total-count">1 Reviews</span>
<select>
 <option value="recent" selected="">Recent</option>
 <option value="oldest">Oldest</option>
 <option value="popular">Popular</option>
</select>
</div>
<div class="ba-leave-review-wrapper">
 <span class="ba-leave-review-btn">Leave review</span>
 <div class="ba-leave-review-box-wrapper">
 <div class="ba-comments-login-wrapper"><div class="ba-user-login-wrapper">
 <span class="ba-author-avatar" style="background-image: url(http://192.168.1.65/~nebise/joomla_39/components/com_gridbox/assets/images/default-user.png);"></span>
 <span class="ba-user-login-btn" data-type="user">
 Login </span>
</div>
<div class="ba-guest-login-wrapper">
 <span class="ba-guest-login-btn" data-type="guest">
 Login as a Guest </span>
</div>
</div>
 <span class="ba-review-rate-wrapper">
 <span class="ba-review-rate-title">Rate</span>
 <span class="ba-review-stars-wrapper">
 <i class="zmdi zmdi-star" data-rating="1"></i>
 <i class="zmdi zmdi-star" data-rating="2"></i>
 <i class="zmdi zmdi-star" data-rating="3"></i>
 <i class="zmdi zmdi-star" data-rating="4"></i>
 <i class="zmdi zmdi-star" data-rating="5"></i>
 </span>
 </span>
 <div class="ba-comment-message-wrapper"><textarea placeholder="Write your review here..." class="ba-comment-message"></textarea>
<div class="ba-comment-xhr-attachment-wrapper"></div>
<div class="ba-comments-icons-wrapper">
 <span class="ba-comments-attachments-wrapper">
 <span class="ba-comments-attachment-file-wrapper" data-type="image">
 <i class="zmdi zmdi-camera ba-comment-attachment-trigger"></i>
 <input class="ba-comment-attachment" type="file" style="display: none !important;" multiple="" data-size="1024" data-types="gif, jpg, jpeg, png, svg, webp" data-attach="image">
 <span class="ba-comment-attachment-trigger">Upload Photos</span>
 </span>
 </span>
</div>
<div class="ba-comments-captcha-wrapper">
 
</div>
<span class="ba-submit-comment-wrapper">
 <span class="ba-submit-cancel">Cancel</span>
 <span class="ba-submit-comment" data-type="submit">Submit Review</span>
</span>
</div>
 </div>
</div>
<div class="users-comments-wrapper"><div class="user-comment-container-wrapper" data-parent="0">
 <div class="user-comment-wrapper" id="reviewID-0">
 <div class="comment-user-info-wrapper">
 <span class="ba-author-avatar" style="background-image: url(http://192.168.1.65/~nebise/joomla_39/components/com_gridbox/assets/images/default-user.png);"></span>
 <img src="http://192.168.1.65/~nebise/joomla_39/components/com_gridbox/assets/images/default-user.png" class="ba-gravatar-img" style="display: none !important;" onerror="this.previousElementSibling.style.backgroundImage = 'url('+JUri+'components/com_gridbox/assets/images/default-user.png)';">
 </div>
 <div class="comment-data-wrapper">
 <div class="comment-user-info">
 <span class="comment-report-user-comment">
 <i class="zmdi zmdi-flag "></i>
 <span class="ba-tooltip">Report Review</span>
 </span>
 <span class="comment-user-date">12 Hours Ago</span>
 <span class="comment-user-name">Name</span>
 <span class="ba-review-stars-wrapper">
 <i class="zmdi zmdi-star active" data-active="active" data-rating="1" style="width:auto;"></i>
 <i class="zmdi zmdi-star active" data-active="active" data-rating="2" style="width:auto;"></i>
 <i class="zmdi zmdi-star active" data-active="active" data-rating="3" style="width:auto;"></i>
 <i class="zmdi zmdi-star active" data-active="active" data-rating="4" style="width:auto;"></i>
 <i class="zmdi zmdi-star active" data-active="active" data-rating="5" style="width:auto;"></i>
 </span>
 </div>
 <div class="comment-user-message-wrapper">
 <p class="comment-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
 </div>
 <div class="comment-attachments-image-wrapper">
 </div>
 <div class="comment-attachments-wrapper">
 </div>
 <div class="comment-likes-wrapper">
 <span class="comment-action-wrapper">
 <span class="comment-reply-action">
 <i class="zmdi zmdi-keyboard"></i>
 <span>Reply</span>
 </span>
 <span class="comment-share-action">
 <i class="zmdi zmdi-share"></i>
 <span>Share</span>
 </span>
 </span>
 <span class="comment-likes-action-wrapper">
 <span class="was-review-helpful comment-user-date">Was this review helpful?</span>
 <span class="comment-likes-action" data-action="likes">
 <i class="zmdi zmdi-thumb-up"></i>
 <span class="likes-count">0</span>
 </span>
 <span class="comment-likes-action" data-action="dislikes">
 <i class="zmdi zmdi-thumb-down"></i>
 <span class="likes-count">0</span>
 </span>
 </span>
 </div>
 </div>
 </div>
 <div class="comment-reply-form-wrapper" style="display: none;">
 <div class="ba-comments-login-wrapper">
 
 </div>
 <div class="ba-comment-message-wrapper"><textarea placeholder="Write your review here..." class="ba-comment-message"></textarea>
<div class="ba-comment-xhr-attachment-wrapper"></div>
<div class="ba-comments-icons-wrapper">
 <span class="ba-comments-attachments-wrapper">
 <span class="ba-comments-attachment-file-wrapper" data-type="image">
 <i class="zmdi zmdi-camera ba-comment-attachment-trigger"></i>
 <input class="ba-comment-attachment" type="file" style="display: none !important;" multiple="" data-size="1024" data-types="gif, jpg, jpeg, png, svg, webp" data-attach="image">
 <span class="ba-comment-attachment-trigger">Upload Photos</span>
 </span>
 </span>
</div>
<div class="ba-comments-captcha-wrapper">
 
</div>
<span class="ba-submit-comment-wrapper">
 <span class="ba-submit-cancel">Cancel</span>
 <span class="ba-submit-comment" data-type="submit">Submit Review</span>
</span>
</div>
 </div>
</div>
</div>
</div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 </div>
 </div>
</div>
 </div>
 </div>
</div>
</div>
</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 </div>
 </div>
</div>
</div>
 </div>
</div>