<div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-14975226220">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
<span class="ba-edit-wrapper"><i class="zmdi zmdi-plus-circle add-columns"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Add New Row</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-edit edit-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Edit</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-copy copy-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Copy Item</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-globe add-library"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Add to Library</span></span><span class="ba-edit-wrapper"><i class="zmdi zmdi-delete delete-item"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Delete Item</span></span><span class="ba-edit-text">Section</span>
</div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
 <div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid row-with-intro-items" id="item-14975226221">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="ba-grid-column-wrapper span6" data-span="6" style="">
 <div class="ba-grid-column" id="item-14975226225">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-post-intro ba-item" id="item-14975226224">
 <div class="intro-post-wrapper">
 [intro-post-image]
 <div class="intro-post-title-wrapper">
 <h1 class="intro-post-title">[intro-post-title]</h1>
 </div>
 <div class="intro-post-info">
<span class="intro-post-author"><a href="#"><span class="ba-author-avatar" style="background-image: url(http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-user.png)"></span>admin</a></span><span class="intro-post-date">[intro-post-date]</span>
<span class="intro-post-category">[intro-post-category]</span>
<span class="intro-post-comments"><a href="#total-count-wrapper">Leave a comment</a></span>
<span class="intro-post-hits">0 Views</span>
<span class="intro-post-reviews">
 <span class="ba-blog-post-rating-stars">
<i class="zmdi zmdi-star" style="width: 0%;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i><i class="zmdi zmdi-star" style="width: auto;"></i> </span>
 <a class="ba-blog-post-rating-count" href="#total-reviews-count-wrapper">Leave review</a>
</span>
</div>
 </div>
 
 
 </div>
 <div class="ba-item-field ba-item" id="item-15625844100">
 <div class="ba-field-wrapper ba-label-position-right">
 <div class="ba-field-label"><p></p></div>
 <div class="ba-field-content">Value</div>
 </div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add new element </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="ba-grid-column-wrapper span6" data-span="6" style="">
 <div class="ba-grid-column" id="item-14975226226">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field-group ba-item" id="item-15625844800">
 <div class="ba-field-group-wrapper">
 
 <div class="ba-field-wrapper ba-label-position-left" data-id="item-15625844801">
<div class="ba-field-label"><p>Client</p></div>
<div class="ba-field-content">Value</div>
</div>
<div class="ba-field-wrapper ba-label-position-left" data-id="item-1562588199787"><div class="ba-field-label"><p>Budget</p></div><div class="ba-field-content"><span class="field-price-wrapper "><span class="field-price-currency">$</span><span class="field-price-value">1,000</span></span></div></div>
<div class="ba-field-wrapper ba-label-position-left" data-id="item-1562588095916">
<div class="ba-field-label"><p>Date</p></div>
<div class="ba-field-content">Value</div>
</div>
<div class="ba-field-wrapper ba-label-position-left" data-id="item-1562588259825">
<div class="ba-field-label"><p>Tags</p></div>
<div class="ba-field-content">Value</div>
</div>
</div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add new element </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
</div> <div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-15625843560">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-copy copy-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Copy Item </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-globe add-library"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add to Library </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete Item </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
<div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid" id="item-15625843561">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="span12 ba-grid-column-wrapper" data-span="12">
 <div class="ba-grid-column" id="item-15625843562">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-field-simple-gallery ba-item" id="item-15625843810">
	<div class="instagram-wrapper ba-field-content">
 <div class="ba-instagram-image" style="background-image: url(http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png);">
 <img src="http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png" data-src="components/com_gridbox/assets/images/default-theme.png"><div class="ba-simple-gallery-image"></div>
 </div>
 <div class="ba-instagram-image" style="background-image: url(http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png);">
 <img src="http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png" data-src="components/com_gridbox/assets/images/default-theme.png"><div class="ba-simple-gallery-image"></div>
 </div>
 <div class="ba-instagram-image" style="background-image: url(http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png);">
 <img src="http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png" data-src="components/com_gridbox/assets/images/default-theme.png"><div class="ba-simple-gallery-image"></div>
 </div>
 <div class="ba-instagram-image" style="background-image: url(http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png);">
 <img src="http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png" data-src="components/com_gridbox/assets/images/default-theme.png"><div class="ba-simple-gallery-image"></div>
 </div>
 <div class="ba-instagram-image" style="background-image: url(http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png);">
 <img src="http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png" data-src="components/com_gridbox/assets/images/default-theme.png"><div class="ba-simple-gallery-image"></div>
 </div>
 <div class="ba-instagram-image" style="background-image: url(http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png);">
 <img src="http://192.168.1.65/~nebise/joomla_37/components/com_gridbox/assets/images/default-theme.png" data-src="components/com_gridbox/assets/images/default-theme.png"><div class="ba-simple-gallery-image"></div>
 </div>
 <div class="empty-list">
 <i class="zmdi zmdi-alert-polygon"></i>
 <p>You have no items here</p>
 </div>
 </div>
	
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 </div>
 </div>
</div>
 </div>
 </div>
</div>
<div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-15625845110">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-copy copy-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Copy Item </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-globe add-library"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add to Library </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete Item </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
<div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid" id="item-15625845111">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="span12 ba-grid-column-wrapper" data-span="12">
 <div class="ba-grid-column" id="item-15625845112">
 <div class="ba-overlay"></div>
 
 
 
<div class="ba-item-post-navigation ba-item" id="item-15625845710" data-maximum="50">
 <div class="ba-blog-posts-wrapper ba-classic-layout"></div>
 
 
</div>
<div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add New Plugin </span>
 </span>
 </div>
 <div class="column-info">
 Span 12 </div>
 </div>
 </div>
 </div>
 </div>
</div>
 </div>
 </div>
</div>