/*

/* Plugin Add To Cart

*/



.ba-item-add-to-cart .ba-add-to-cart-wrapper .ba-add-to-cart-info > div,

.ba-item-add-to-cart .ba-add-to-cart-wrapper > div:not(.ba-add-to-cart-info) {

    display: flex;

}



.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-price:not(.ba-add-to-cart-info) {

    align-items: flex-end;

    display: inline-flex;

    flex-direction: column-reverse;

}



.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options {

    flex-direction: column;

}



.ba-item-add-to-cart .ba-add-to-cart-row-label {

    margin-right: 10px;

    position: relative;

    width: 40%;

}



.ba-add-to-cart-quantity {

    align-items: center;

    border: 1px solid var(--border);

    margin-right: 20px;

    padding: 5px;

    position: relative;

}



.ba-add-to-cart-quantity + .ba-btn-transition {

    align-items: center;

    display: flex;

}



.ba-add-to-cart-quantity.file-quantity-enabled {

    opacity: .5;

    cursor: not-allowed;

}



.ba-add-to-cart-quantity.file-quantity-enabled * {

    pointer-events: none;

}



.ba-add-to-cart-buttons-wrapper {

    display: flex;

    border-color: var(--border-color);

    border-style: var(--border-style);

    border-radius: var(--border-radius);

    border-bottom-width: calc(var(--border-width)*var(--border-bottom));

    border-left-width: calc(var(--border-width)*var(--border-left));

    border-right-width: calc(var(--border-width)*var(--border-right));

    border-top-width: calc(var(--border-width)*var(--border-top));

}



.ba-add-to-cart-buttons-wrapper > span,

.ba-add-to-cart-buttons-wrapper > span:after {

    border-radius: var(--border-radius);

    border-top-left-radius: calc(var(--border-radius) * var(--display-wishlist));

    border-bottom-left-radius: calc(var(--border-radius) * var(--display-wishlist));

    transition: inherit;

}



.ba-add-to-cart-buttons-wrapper a {

    align-items: center;

    border-radius: var(--border-radius);

    border-top-right-radius: calc(var(--border-radius) * var(--display-wishlist));

    border-bottom-right-radius: calc(var(--border-radius) * var(--display-wishlist));

    padding-bottom: var(--padding-bottom);

    padding-left: var(--padding-left);

    padding-right: var(--padding-right);

    padding-top: var(--padding-top);

}



.ba-add-to-cart-buttons-wrapper > span {

    padding-bottom: var(--padding-bottom);

    padding-left: calc((var(--padding-bottom) + var(--padding-top))/2);

    padding-right: calc((var(--padding-bottom) + var(--padding-top))/2);

    padding-top: var(--padding-top);

    cursor: pointer;

    transition: .3s;

    text-decoration: initial !important;

}



.ba-add-to-cart-buttons-wrapper > span i {

    margin-left: 4px;

    z-index: 1;

}



.ba-add-to-wishlist {

    align-items: center;

    justify-content: center;

    position: relative;

}



.ba-add-to-wishlist i {

    font-size: 2em;

    text-align: center;

}



.ba-add-to-cart-buttons-wrapper span:after {

    content: "";

    background: rgba(0, 0, 0, 0.1);

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

}



.disabled .ba-add-to-cart-quantity {

    display: none !important;

}



.disabled .ba-add-to-cart-quantity + .ba-btn-transition {

    opacity: .65;

}



.ba-add-to-cart-quantity i:hover {

    opacity: .5;

}



.ba-add-to-cart-quantity i {

    cursor: pointer;

    font-size: 24px;

    padding: 10px;

    text-align: center;

    transition: .3s;

    width: 24px;

}



.ba-add-to-cart-button-wrapper .ba-add-to-cart-quantity input {
    background: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: normal;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 30px;
}



.ba-add-to-cart-sale-price-wrapper + .ba-add-to-cart-price-wrapper {

    font-size: .5em;

    line-height: 1em;

    opacity: .5;

    position: relative;

    text-decoration: line-through;

}



.ba-item-add-to-cart .ba-add-to-cart-variations {

    flex-direction: column;

}



.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option,

.ba-item-add-to-cart .ba-add-to-cart-row-value,

.ba-item-add-to-cart .ba-add-to-cart-variation {

    align-items: center;

    display: flex;

}

.ba-item-add-to-cart .ba-add-to-cart-extra-option .ba-add-to-cart-row-value input,
.ba-item-add-to-cart .ba-add-to-cart-extra-option .ba-add-to-cart-row-value textarea {
    background: var(--bg-primary);
}



.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="textarea"],

.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="textinput"] {

    flex-direction: column;

    align-items: flex-start;

}



.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="textarea"] .ba-add-to-cart-row-label,

.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="textinput"] .ba-add-to-cart-row-label {

    margin-bottom: 10px;

}



.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="textarea"] *:not(.ba-variation-notice),

.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="textinput"] *:not(.ba-variation-notice) {

    width: 100%;

}



.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="textarea"] textarea {

    min-height: 150px;

}


.ba-add-to-cart-extra-option,
.ba-add-to-cart-variation {
    margin-bottom: 20px;
}

.ba-add-to-cart-extra-option[data-type="radio"],
.ba-add-to-cart-extra-option[data-type="checkbox"],
.ba-add-to-cart-extra-option[data-type="dropdown"] {
    margin-bottom: 30px;
}

.ba-add-to-cart-extra-option[data-type="dropdown"] .ba-custom-select li .extra-option-price{
    float: right;
}


.ba-item-add-to-cart .ba-add-to-cart-variation[data-type="radio"],

.ba-item-add-to-cart .ba-add-to-cart-variation[data-type="checkbox"],

.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="checkbox"],

.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="radio"] {

    align-items: flex-start;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value {

    flex-wrap: wrap;

    width: 60%;

}



.ba-add-to-cart-extra-option[data-type="file"][data-droppable="0"] .ba-add-to-cart-upload-file {

    width: 100%;

}



.ba-add-to-cart-extra-option[data-type="file"]:not([data-droppable="0"]) {

    flex-wrap: wrap;

}



.ba-add-to-cart-extra-option[data-type="file"]:not([data-droppable="0"]) .ba-add-to-cart-row-value,

.ba-add-to-cart-extra-option[data-type="file"]:not([data-droppable="0"]) .ba-add-to-cart-row-label,

.ba-add-to-cart-extra-option[data-type="file"]:not([data-droppable="0"]) .ba-add-to-cart-upload-file,

.ba-add-to-cart-extra-option[data-type="file"]:not([data-droppable="0"]) .ba-add-to-cart-attach-file {

    box-sizing: border-box;

    width: 100%;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"],

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] {

    align-items: flex-start;

    display: flex;

    flex-direction: column;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .ba-checkbox-wrapper,

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox-wrapper {

    display: flex;

    flex-direction: row-reverse;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value > span {

    cursor: pointer;

    margin: 10px;

    position: relative;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value > span > span:not(.ba-tooltip) {

    background-color: var(--variation-color-value);

    background-image: var(--variation-image-value);

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    border-radius: 30px;

    cursor: pointer;

    display: flex;

    height: 30px;

    overflow: hidden;

    transition: .3s;

    width: 30px;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="image"] > span > span:not(.ba-tooltip) {

    border-radius: 3px;

    height: 50px;

    width: 50px;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="tag"] > span:hover {

    border-color: var(--hover);

}



.ba-item-add-to-cart .ba-add-to-cart-row-value > span > span:not(.ba-tooltip):hover,

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="image"] > span > span:not(.ba-tooltip):hover {

    opacity: .75;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value > span > span:not(.ba-tooltip):before {
    content: "";
    border: 3px solid var(--variation-color-value);
    border-radius: inherit;
    bottom: -5px;
    left: -5px;
    position: absolute;
    right: -5px;
    top: -5px;
    transition: transform .3s;
}


.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="tag"] > span.active {
    border-color: var(--primary) !important;
}

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="image"] > span.active > span:not(.ba-tooltip){
    box-shadow: 0 0 0px 2px var(--primary) !important;
}

.ba-item-add-to-cart .ba-add-to-cart-row-value:not([data-type="image"]) > span:not(.active) > span:not(.ba-tooltip):before {
    transform: scale(.8);
}


.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="tag"] > span {

    align-items: center;

    border: 2px solid var(--border);

    box-sizing: border-box;

    display: flex;

    line-height: 24px !important;

    padding: 10px 15px;

    transition: .3s;

}



.ba-item-add-to-cart .ba-custom-select ul.visible-select li.disabled,

.ba-item-add-to-cart .ba-add-to-cart-row-value > span.disabled  {

    pointer-events: none;

    overflow: hidden;

}



.ba-item-add-to-cart .ba-custom-select ul.visible-select li.disabled {

    opacity: .25;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="tag"] > span.disabled,

.ba-item-add-to-cart .ba-add-to-cart-row-value > span.disabled > span {

    opacity: 0.3;

    overflow: hidden;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="color"] > span.disabled {

    border-radius: 50%;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="dropdown"],

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="tag"],

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="image"],

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="color"] {

    margin-left: -15px;

}



/* Custom Select */

.ba-item-add-to-cart .ba-custom-select {

    position: relative;

    margin: 0 0 0 10px;

    width: 100%;

}



.ba-item-add-to-cart .ba-custom-select input {

    border: 1px solid var(--border);

    cursor: pointer !important;

    margin: 0;

    overflow: hidden;

    padding-right: 35px;

    text-overflow: ellipsis;

}



.ba-item-add-to-cart .ba-custom-select ul {

    background: #fff;

    box-shadow: 0 15px 40px rgba(0,0,0,.15);

    box-sizing: border-box;

    left: 0;

    list-style: none;

    margin: 0;

    max-height: 96px;

    opacity: 0;

    overflow-y: auto;

    padding: 0;

    position: absolute;

    top: 0;

    visibility: hidden;

    width: 250px;

    z-index: 2;

}



.ba-item-add-to-cart .ba-custom-select ul li {

    box-sizing: border-box;

    cursor: pointer;

    overflow-y: auto;

    padding: 20px;

    padding-left: 65px;

    position: relative;

}



.ba-item-add-to-cart .ba-custom-select input,

.ba-item-add-to-cart .ba-custom-select ul,

.ba-item-add-to-cart .ba-custom-select ul li {

    color:inherit;

    font-family:inherit;

    font-size: inherit;

    font-weight: inherit;

    letter-spacing: inherit;

    line-height: inherit;

    text-align: inherit;

    text-transform: inherit;

    width: 100%;

}



@keyframes custom-select {

    0%{ left: 50%; width: 0; max-height: 2px; }

    50%{ left: 0; width: 100%; max-height: 2px; }

    100%{ left:0; width: 100%; max-height: 292px; }

}



.ba-item-add-to-cart .ba-custom-select ul.visible-select {

    animation: custom-select .4s cubic-bezier(.25,.98,.26,.99) both;

    border-radius: 6px;

    border-top-left-radius: 0;

    border-top-right-radius: 0;

    border-top: 2px solid var(--primary);

    max-height: none;

    opacity: 1;

    overflow: hidden;

    overflow-y: auto;

    top: 48px;

    visibility: visible;

    z-index: 15;

}



.ba-item-add-to-cart .ba-custom-select ul.visible-select li {

    opacity: 1;

    width: 100%;

}



.ba-item-add-to-cart .ba-custom-select ul li.selected:after {

    border-radius: 3px;

    left: 14px;

    padding: 8px;

    position: absolute;

    text-align: center;

    top: calc(50% - 20px);

    width: 24px;

}



.ba-item-add-to-cart .ba-custom-select ul.visible-select li.selected:after {

    content: '\f26b';

    font: normal normal normal 24px/1 'balbooa-family';

}



.ba-item-add-to-cart .ba-custom-select .ba-icon-caret-down {

    font-size: 23px;

    position: absolute;

    right: 15px;

    top: 12px;

}



.ba-item-add-to-cart .ba-custom-select ul li label {

    margin-left: 15px;

}



.ba-item-add-to-cart .ba-custom-select ul li:not(.selected):before {

    border-radius: 50%;

    border: 2px solid #ddd;

    content: "";

    height: 15px;

    left: 25px;

    position: absolute;

    top: calc(50% - 10px);

    width: 15px;

}



.ba-item-add-to-cart .ba-custom-select ul li:hover {

    background: var(--primary);

    color: var(--title-inverse);

}



.ba-item-add-to-cart .ba-custom-select ul li:hover:before {

    border-color: #fff;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox,

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .ba-radio {

    position: relative;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox input[type="checkbox"],

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .ba-radio input[type="radio"] {

    display: none;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox-wrapper > span,

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .ba-checkbox-wrapper >span {

    align-items: center;

    display: flex;

    justify-content: space-between;

    padding: 0 0 0 40px;

    width: 100%;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .ba-checkbox-wrapper,

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox-wrapper {

    width: 100%;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .extra-option-price, 
.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .extra-option-price {
    font-weight: bold;
}

.ba-item-add-to-cart .ba-add-to-cart-extra-options .ba-add-to-cart-row-value[data-type="checkbox"] .extra-option-price, 
.ba-item-add-to-cart .ba-add-to-cart-extra-options .ba-add-to-cart-row-value[data-type="radio"] .extra-option-price {
    font-weight: inherit;    
}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox-wrapper:not(:last-child),

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .ba-checkbox-wrapper:not(:last-child){

    margin-bottom: 10px;

}



.extra-option-price {

    white-space: nowrap !important;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .ba-radio input[type="radio"]+ span:before,

.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] + span:before {

    border-radius: 50%;

    border: 2px solid #757575;

    content: "";

    cursor: pointer;

    display: block;

    height: 18px;

    left: 0;

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    transition: all .3s;

    width: 18px;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="radio"] .ba-radio input[type="radio"]:checked + span:before {

    background: var(--primary);

    border-radius: 50%;

    border: 2px solid var(--primary);

    box-shadow: inset 0px 0px 0px 3px rgb(245, 245, 245);

    content: "";

    display: block;

    height: 18px;

    left: 0;

    opacity: 1;

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    width: 18px;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox > span {

    border-radius: 3px;

    border: 2px solid #757575;

    box-sizing: border-box;

    display: block;

    height: 20px;

    position: absolute;

    top: calc(50% - 8px);

    width: 20px;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox input[type="checkbox"]:checked + span:after{

    bottom: 0px;

    color: #fff;

    content: '\f26b';

    display: block;

    font: normal normal normal 16px/16px 'balbooa-family';

    left: 50%;

    margin-left: -8px;

    position: absolute;

    text-align: center;

    width: 16px;

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox input[type="checkbox"]:checked + span {

    border-color: var(--primary);

    background: var(--primary);

}



@keyframes click-wave {

    0% { left: calc(50% - 10px); bottom: 0px;width: 19px; height: 19px; opacity: 0.35;}

    100% { width: 50px; height: 50px; left: calc(50% - 25px); bottom: -15px; opacity: 0;}

}



.ba-item-add-to-cart .ba-add-to-cart-row-value[data-type="checkbox"] .ba-checkbox input[type="checkbox"]:checked + span:before {

    animation: click-wave 0.65s;

    background: var(--primary);

    border-radius: 50%;

    bottom: 0;

    content: '';

    display: block;

    left: calc(50% - 10px);

    position: absolute;

    z-index: 100;

}



.ba-add-to-cart-upload-file {

    flex-wrap: wrap;

}



.ba-add-to-cart-attach-file {

    width: calc(60% - 10px);

}



.ba-add-to-cart-attached-files {

    margin-top: 20px;

    width: 100%;

}



.ba-add-to-cart-attachment {

    align-items: center;

    display: flex;

    margin-bottom: 10px;

}



.ba-add-to-cart-attachment .post-intro-image {

    background-position: center;

    background-size: cover;

    border-radius: 3px;

    box-sizing: border-box;

    cursor:zoom-in;

    display: inline-block;

    height: 75px;

    margin: 0 15px 0 0;

    min-width: 50px;

    vertical-align: middle;

    transition: .3s;

    width: 75px;

    min-width: 75px;

}



.ba-add-to-cart-attachment .post-intro-image:hover {

    opacity: .75;

}



.attachment-title {

    display: inline-block;

    flex-grow: 1;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

}



.ba-add-to-cart-attachment .attachment-title {

    color: var(--text);

    font-size: 12px;

    font-weight: normal;

    line-height: 24px;

}



.attachment-progress-bar {

    background: #1da6f4;

    border-radius: 5px;

    display: block;

    height: 5px;

    transition: .3s ease-in-out;

    width: 0;

}



.attachment-file-uploaded .attachment-progress-bar-wrapper {

    margin-left: 0;

    min-width: 0;

    width: 0;

}



.attachment-progress-bar-wrapper {

    background: #ddd;

    border-radius: 10px;

    box-sizing: border-box;

    display: inline-block;

    height: 5px;

    margin-left: 15px;

    min-width: 40%;

}



.ba-add-to-cart-attachment i:first-child {

    pointer-events: none;

}



.ba-add-to-cart-attachment i {

    cursor: pointer;

    font-size: 16px;

    margin-left: 13px;

    padding: 2px;

    text-align: center;

    width: 14px;

}



.ba-add-to-cart-attachment i:not(:hover) {

    color: #b0b0b0;

}



.ba-checkout-order-form-total .ba-checkout-order-price-wrapper.right-currency-position:not(.ba-form-products-cart), 

.right-currency-position:not(.ba-form-products-cart):not(.ba-cart-subtotal) {

    display: inline-flex !important;

    flex-direction: row-reverse;

    justify-content: flex-start;

    width: auto;

}



.right-currency-position .ba-blog-post-add-to-cart-price-currency, 

.right-currency-position .ba-live-search-price-currency, 

.right-currency-position .ba-checkout-order-price-currency, 

.right-currency-position .ba-add-to-cart-price-currency, 

.ba-cart-subtotal.right-currency-position .store-currency-symbol, 

.right-currency-position .ba-wishlist-price-currency,

.right-currency-position .ba-cart-price-currency {

    margin-right: 0px;

    margin-left: 5px;

}



/* Upload File */



.ba-add-to-cart-upload-file .ba-add-to-cart-row-label {

    width: 100%;

}



.ba-add-to-cart-attach-file {

    align-items: center;

    border: 1px dashed var(--border);

    display: flex;

    flex-direction: column;

    justify-content: center;

    margin-top: 20px;

    padding: 50px;

    transition: border-color .3s;

    width: 100%;

}



.ba-add-to-cart-extra-option[data-type="file"] .ba-add-to-cart-attach-file[data-droppable="0"] {

    border: none;

    flex-direction: row;

    justify-content: flex-start;

    margin-top: 0; 

    padding: 0;

}



.ba-add-to-cart-extra-option[data-type="file"][data-droppable="0"] .ba-add-to-cart-row-label {

    margin-top: 10px;

}



.ba-item-add-to-cart .ba-add-to-cart-wrapper > .ba-add-to-cart-extra-options .ba-add-to-cart-extra-option[data-type="file"][data-droppable="0"] {

    align-items: flex-start;

}



.ba-add-to-cart-extra-option[data-type="file"] .ba-add-to-cart-attach-file[data-droppable="0"] .ba-add-to-cart-drag-drop-attach-file-title,

.ba-add-to-cart-extra-option[data-type="file"] .ba-add-to-cart-attach-file[data-droppable="0"] .ba-add-to-cart-drag-drop-attach-file-text {

    display: none;

}



.ba-add-to-cart-attach-file.ba-add-to-cart-attach-file-drag-over {

    border-color: var(--hover);

}



.ba-add-to-cart-attach-file> input {

    display: none;

}



.ba-add-to-cart-attach-file .ba-add-to-cart-drag-drop-attach-file-text,

.ba-add-to-cart-attach-file .ba-add-to-cart-drag-drop-attach-file-size {

    font-size: .75em;

    opacity: .5;

    margin-top: 10px;

}



.ba-add-to-cart-extra-option[data-type="file"] .ba-add-to-cart-attach-file[data-droppable="0"] .ba-add-to-cart-drag-drop-attach-file-size {

    margin-top: 0;

    margin-left: 20px;

}



.ba-add-to-cart-attach-file .ba-add-to-cart-drag-drop-attach-file-text {

    margin-bottom: 10px;

}



.ba-add-to-cart-drag-drop-attach-file-title {

    font-size: 1.5em;

    font-weight: bold;

}



.ba-add-to-cart-drag-drop-attach-file-btn {

    border: 1px solid var(--border);

    box-sizing: border-box;

    cursor: pointer;

    font-size: 0.75em;

    line-height: 24px !important;

    padding: 10px 25px;

    transition: .3s;

}



.ba-add-to-cart-drag-drop-attach-file-btn:hover {

    border: 1px solid var(--hover);

    background: var(--hover);

    color: var(--title-inverse);

}