.ba-item-overlay-section,
.ba-item-image {
    line-height: 0 !important;
}

.ba-image-wrapper > a,
.ba-image-wrapper {
    line-height: 0;
    display: block;
}

.ba-image-wrapper {
    box-sizing: border-box;
    max-width: 100%;
}

.ba-image-wrapper img.ba-lightbox-item-image {
    cursor: zoom-in;
}

.ba-item-image-field .ba-image-wrapper,
.ba-item-overlay-section .ba-image-wrapper,
.ba-item-image .ba-image-wrapper {
    display: inline-block;
    position: relative;
}

.ba-item-image-field .ba-image-wrapper img,
.ba-item-overlay-section .ba-image-wrapper img,
.ba-item-image .ba-image-wrapper img {
    width: 100% !important;
}

.ba-image-item-caption,
.ba-simple-gallery-caption {
    opacity: 0;
}

.ba-item-image .ba-image-wrapper.visible-image-caption .ba-image-item-caption,
.ba-item-overlay-section .ba-image-wrapper:hover .ba-image-item-caption,
.ba-item-image .ba-image-wrapper:hover .ba-image-item-caption,
.ba-instagram-image:hover .ba-simple-gallery-caption {
    opacity: 1;
}

.ba-item-image .ba-image-wrapper.visible-image-caption .ba-image-item-caption,
.ba-item-image .ba-image-wrapper.visible-image-caption:hover img {
   transform: none !important;
}

.ba-item-overlay-section img,
.ba-image-item-caption,
.ba-item-image .ba-image-wrapper img,
.ba-image-item-caption .ba-caption-overlay,
.ba-instagram-image .ba-caption-overlay,
.ba-simple-gallery-caption {
    transition-duration: var(--transition-duration);
    transition-property: all;
}

.ba-image-item-caption,
.ba-image-item-caption .ba-caption-overlay,
.ba-simple-gallery-image,
.ba-simple-gallery-caption .ba-caption-overlay,
.ba-simple-gallery-caption {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.ba-btn-transition + .ba-image-item-caption {
    pointer-events: none;
}

.ba-image-item-caption .ba-caption-overlay,
.ba-simple-gallery-image {
    padding: 0;
}

.ba-item .ba-image-wrapper,
.ba-item-simple-gallery .ba-instagram-image {
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ba-image-item-caption *:not(.ba-caption-overlay),
.ba-simple-gallery-caption *:not(.ba-caption-overlay){
    z-index: 1;
}