/*
/* Plugin Progress-bar
*/

.ba-item-progress-bar .ba-animated-bar {
    overflow: hidden;
}

.ba-item-progress-bar .ba-animated-bar {
    align-items: center;
    border-radius: inherit;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    line-height: 0;
    padding: 0 20px;
    vertical-align: middle;
}

.ba-item-progress-bar .progress-bar-title {
    white-space: nowrap;
}

.ba-item-progress-bar .progress-bar-number {
    flex-grow: 1;
    text-align: right;
}