/*
/* Plugin Social Icons
*/

.ba-item-social-icons .ba-icon-wrapper a {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.ba-item-social-icons .ba-icon-wrapper a:not(:last-child){
    margin-right: 5px;
}

.ba-item-social-icons .ba-icon-wrapper i {
    text-align: center;
    box-shadow: none;
}