.ba-video-background.global-video-bg {
    position: fixed;
}

.ba-video-background {
    bottom: 0;
    border-radius: inherit;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

.ba-grid-column .ba-video-background {
    z-index: -1;
}

.ba-section > .ba-video-background {
    z-index: 0;
}