body:not(.show-hidden-elements) .ba-hidden-lp {
    display: none !important;
}

body:not(.show-hidden-elements) .ba-hidden-lp:first-child  + .ba-column-resizer + .ba-grid-column-wrapper {
    margin-left: 0 !important;
}
