<div class="ba-wrapper">
    <div class="ba-section row-fluid" id="item-15002848260">
        <div class="ba-overlay"></div>
        <div class="ba-edit-item">
            <span class="ba-edit-wrapper edit-settings">
                <i class="zmdi zmdi-settings"></i>
                <span class="ba-tooltip tooltip-delay">Section</span>
            </span>
            <div class="ba-buttons-wrapper">
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-plus-circle add-columns"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">New Row</span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-edit edit-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">Edit</span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-copy copy-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">Copy Item</span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-globe add-library"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">Add to Library</span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-delete delete-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">Delete Item</span>
                </span>
                <span class="ba-edit-text">Section</span>
            </div>
        </div>
        <div class="ba-box-model">
            <div class="ba-bm-top"></div>
            <div class="ba-bm-left"></div>
            <div class="ba-bm-bottom"></div>
            <div class="ba-bm-right"></div>
        </div>
        <div class="ba-section-items">
<div class="ba-row-wrapper ba-container">
    <div class="ba-row row-fluid row-with-intro-items" id="item-15002848261">
        <div class="ba-overlay"></div>
        <div class="ba-edit-item">
            <span class="ba-edit-wrapper edit-settings">
                <i class="zmdi zmdi-settings"></i>
                <span class="ba-tooltip tooltip-delay">
                    Row                </span>
            </span>
            <div class="ba-buttons-wrapper">
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-edit edit-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Edit                    </span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-copy copy-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Copy                    </span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-delete delete-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Delete                    </span>
                </span>
                <span class="ba-edit-text">
                    Row                </span>
            </div>
        </div>
        <div class="ba-box-model">
            <div class="ba-bm-top"></div>
            <div class="ba-bm-left"></div>
            <div class="ba-bm-bottom"></div>
            <div class="ba-bm-right"></div>
        </div>
        <div class="column-wrapper">
            <div class="span8 ba-grid-column-wrapper" data-span="8">
                <div class="ba-grid-column" id="item-15002848262">
                    <div class="ba-overlay"></div>
                    <div class="ba-edit-item">
                        <div class="ba-buttons-wrapper">
                            <span class="ba-edit-wrapper">
                                <i class="zmdi zmdi-plus-circle add-item"></i>
                                <span class="ba-tooltip tooltip-delay settings-tooltip">
                                    Add new element                                </span>
                            </span>
                            <span class="ba-edit-wrapper">
                                <i class="zmdi zmdi-edit edit-item"></i>
                                <span class="ba-tooltip tooltip-delay settings-tooltip">
                                    Edit                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="ba-box-model">
                        <div class="ba-bm-top"></div>
                        <div class="ba-bm-left"></div>
                        <div class="ba-bm-bottom"></div>
                        <div class="ba-bm-right"></div>
                    </div>
                    <div class="ba-item-category-intro ba-item" id="item-15003687281">
                        <div class="intro-post-wrapper">
                            <div class="intro-post-image-wrapper">
                                <div class="ba-overlay"></div>
                                <div class="intro-post-image"></div>
                            </div>
                            <div class="intro-post-title-wrapper">
                                <h1 class="intro-post-title"></h1>
                            </div>
                            <div class="intro-post-info">
                                <div class="intro-category-description"></div>
                            </div>
                        </div>
                        <div class="ba-edit-item">
                            <span class="ba-edit-wrapper edit-settings">
                                <i class="zmdi zmdi-settings"></i>
                                <span class="ba-tooltip tooltip-delay">Item</span>
                            </span>
                            <div class="ba-buttons-wrapper">
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-edit edit-item"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Edit
                                    </span>
                                </span>
                                <span class="ba-edit-text">Item</span>
                            </div>
                        </div>
                        <div class="ba-box-model">
                            <div class="ba-bm-top"></div>
                            <div class="ba-bm-left"></div>
                            <div class="ba-bm-bottom"></div>
                            <div class="ba-bm-right"></div>
                        </div>
                    </div>
                    <div class="ba-item-blog-posts ba-item" id="item-15003687280">
                        <div class="ba-blog-posts-header"></div>
                        <div class="ba-blog-posts-wrapper ba-grid-layout">
                            [blog_posts_items]
                        </div>
                        <div class="ba-blog-posts-pagination-wrapper">
                            [blog_posts_pagination]
                        </div>
                        <div class="ba-edit-item">
                            <span class="ba-edit-wrapper edit-settings">
                                <i class="zmdi zmdi-settings"></i>
                                <span class="ba-tooltip tooltip-delay">
                                    Item
                                </span>
                            </span>
                            <div class="ba-buttons-wrapper">
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-edit edit-item"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Edit
                                    </span>
                                </span>
                                <span class="ba-edit-text">
                                    Item
                                </span>
                            </div>
                        </div>
                        <div class="ba-box-model">
                            <div class="ba-bm-top"></div>
                            <div class="ba-bm-left"></div>
                            <div class="ba-bm-bottom"></div>
                            <div class="ba-bm-right"></div>
                        </div>
                    </div>
                    <div class="empty-item">
                        <span>
                            <i class="zmdi zmdi-layers"></i>
                            <span class="ba-tooltip add-section-tooltip">
                                Add new element                            </span>
                        </span>
                    </div>
                    <div class="column-info">
                        Span 8                    </div>
                </div>
            </div>
            <div class="ba-column-resizer">
                <span>
                    <i class="zmdi zmdi-more-vert"></i>
                </span>
            </div>
            <div class="span4 ba-grid-column-wrapper" data-span="4">
                <div class="ba-grid-column" id="item-15002848263">
                    <div class="ba-overlay"></div>
                    <div class="ba-edit-item">
                        <div class="ba-buttons-wrapper">
                            <span class="ba-edit-wrapper">
                                <i class="zmdi zmdi-plus-circle add-item"></i>
                                <span class="ba-tooltip tooltip-delay settings-tooltip">
                                    Add new element                                </span>
                            </span>
                            <span class="ba-edit-wrapper">
                                <i class="zmdi zmdi-edit edit-item"></i>
                                <span class="ba-tooltip tooltip-delay settings-tooltip">
                                    Edit                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="ba-box-model">
                        <div class="ba-bm-top"></div>
                        <div class="ba-bm-left"></div>
                        <div class="ba-bm-bottom"></div>
                        <div class="ba-bm-right"></div>
                    </div>
                    <div class="empty-item">
                        <span>
                            <i class="zmdi zmdi-layers"></i>
                            <span class="ba-tooltip add-section-tooltip">
                                Add new element                            </span>
                        </span>
                    </div>
                    <div class="column-info">
                        Span 4                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
