<div class="ba-wrapper">
 <div class="ba-section row-fluid" id="item-15289771300">
 <div class="ba-overlay"></div>
 <div class="ba-edit-item" style="animation: 0.15s ease-in-out 0s 1 normal both running edit-item-show; display: inline-flex;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Section </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-plus-circle add-columns"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 New Row </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-copy copy-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Copy </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-globe add-library"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Add to Library </span>
 </span>
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-delete delete-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Delete </span>
 </span>
 <span class="ba-edit-text">
 Section </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 <div class="ba-section-items">
<div class="ba-row-wrapper ba-container">
 <div class="ba-row row-fluid row-with-intro-items" id="item-15289771301">
 <div class="ba-overlay"></div>
 
 
 <div class="column-wrapper">
 <div class="ba-grid-column-wrapper span6 ba-tb-la-6 ba-tb-pt-12" data-span="6" style="">
 <div class="ba-grid-column" id="item-15289771302">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-checkout-form ba-item" id="item-15289771305">
 <div class="ba-checkout-form-wrapper"><div class="ba-checkout-form-fields" style="--ba-checkout-field-width:100%;" data-type="headline" data-name="36">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Contact Information</span>
 </div>
 <div class="ba-checkout-form-field-wrapper"></div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:50%;" data-type="text" data-name="1">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">First name</span>
 <span class="ba-checkout-form-required-star">*</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <input type="text" name="1" required="" placeholder="">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:50%;" data-type="text" data-name="2">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Last name</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <input type="text" name="2" placeholder="">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:100%;" data-type="text" data-name="31">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Phone</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <input type="text" name="31" placeholder="">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:100%;" data-type="email" data-name="3">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Email</span>
 <span class="ba-checkout-form-required-star">*</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <input type="email" name="3" required="" placeholder="">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:100%;" data-type="headline" data-name="43">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Shipping Address</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:100%;" data-type="text" data-name="32">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Address</span>
 <span class="ba-checkout-form-required-star">*</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <input type="text" name="32" required="" placeholder="">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:100%;" data-type="text" data-name="33">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Apartment, suite, etc. (optional)</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <input type="text" name="33" placeholder="">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:100%;" data-type="text" data-name="34">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">City</span>
 <span class="ba-checkout-form-required-star">*</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <input type="text" name="34" required="" placeholder="">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:50%;" data-type="dropdown" data-name="35">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Country / Region</span>
 <span class="ba-checkout-form-required-star">*</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <select name="35" required="">
 <option value="">Select</option>
 <option value="Value">Value</option>
 <option value="Anguilla">Anguilla</option>
 <option value="Argentina">Argentina</option>
 <option value="Australia">Australia</option>
 <option value="Austria">Austria</option>
 <option value="Bahamas">Bahamas</option>
 <option value="Barbados">Barbados</option>
 <option value="Belgium">Belgium</option>
 <option value="Bhutan">Bhutan</option>
 <option value="Bosnia And Herzegovina">Bosnia And Herzegovina</option>
 <option value="British Virgin Islands">British Virgin Islands</option>
 <option value="Bulgaria">Bulgaria</option>
 <option value="Canada">Canada</option>
 <option value="Chile">Chile</option>
 <option value="Colombia">Colombia</option>
 <option value="Croatia">Croatia</option>
 <option value="Czechia">Czechia</option>
 <option value="Denmark">Denmark</option>
 <option value="Estonia">Estonia</option>
 <option value="Finland">Finland</option>
 <option value="France">France</option>
 <option value="French Guiana">French Guiana</option>
 <option value="French Polynesia">French Polynesia</option>
 <option value="Germany">Germany</option>
 <option value="Greece">Greece</option>
 <option value="Greenland">Greenland</option>
 <option value="Grenada">Grenada</option>
 <option value="Hong Kong SAR China">Hong Kong SAR China</option>
 <option value="Hungary">Hungary</option>
 <option value="Iceland">Iceland</option>
 <option value="India">India</option>
 <option value="Ireland">Ireland</option>
 <option value="Isle of Man">Isle of Man</option>
 <option value="Israel">Israel</option>
 <option value="Italy">Italy</option>
 <option value="Jamaica">Jamaica</option>
 <option value="Japan">Japan</option>
 <option value="Liechtenstein">Liechtenstein</option>
 <option value="Lithuania">Lithuania</option>
 <option value="Luxembourg">Luxembourg</option>
 <option value="Malta">Malta</option>
 <option value="Martinique">Martinique</option>
 <option value="Mexico">Mexico</option>
 <option value="Moldova">Moldova</option>
 <option value="Monaco">Monaco</option>
 <option value="Netherlands">Netherlands</option>
 <option value="New Zealand">New Zealand</option>
 <option value="Norway">Norway</option>
 <option value="Panama">Panama</option>
 <option value="Paraguay">Paraguay</option>
 <option value="Poland">Poland</option>
 <option value="Portugal">Portugal</option>
 <option value="Qatar">Qatar</option>
 <option value="Russia">Russia</option>
 <option value="Saudi Arabia">Saudi Arabia</option>
 <option value="Singapore">Singapore</option>
 <option value="Slovenia">Slovenia</option>
 <option value="Spain">Spain</option>
 <option value="Saint Barthélemy">Saint Barthélemy</option>
 <option value="Saint Kitts And Nevis">Saint Kitts And Nevis</option>
 <option value="St. Lucia">St. Lucia</option>
 <option value="St. Martin">St. Martin</option>
 <option value="St. Vincent and Grenadines">St. Vincent and Grenadines</option>
 <option value="Sweden">Sweden</option>
 <option value="Switzerland">Switzerland</option>
 <option value="Trinidad and Tobago">Trinidad and Tobago</option>
 <option value="U.S. Outlying Islands">U.S. Outlying Islands</option>
 <option value="Ukraine">Ukraine</option>
 <option value="United Arab Emirates">United Arab Emirates</option>
 <option value="United Kingdom">United Kingdom</option>
 <option value="United States">United States</option>
 <option value="Uruguay">Uruguay</option>
 </select>
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:50%;" data-type="text" data-name="8">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title">Zip Code</span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <input type="text" name="8" placeholder="">
 </div>
</div>
<div class="ba-checkout-form-fields" style="--ba-checkout-field-width:100%;" data-type="acceptance" data-name="17">
 <div class="ba-checkout-form-title-wrapper">
 <span class="ba-checkout-form-title"></span>
 </div>
 <div class="ba-checkout-form-field-wrapper">
 <div class="ba-checkbox-wrapper acceptance-checkbox-wrapper">
 <label class="ba-checkbox">
 <input type="checkbox" name="17" required="" value="I have read and agree to the Terms and Conditions">
 <span></span>
 </label>
 </div>
 <div class="ba-checkout-acceptance-html">I have read and agree to the <a href="#" target="_blank">Terms and Conditions</a>
</div>
 </div>
</div>
</div>
 <div class="ba-edit-item" style="animation: 0.15s ease-in-out 0s 1 normal both running edit-item-show; display: inline-flex;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Item
 </span>
 </span>
 <div class="ba-buttons-wrapper">
 <span class="ba-edit-wrapper">
 <i class="zmdi zmdi-edit edit-item"></i>
 <span class="ba-tooltip tooltip-delay settings-tooltip">
 Edit
 </span>
 </span>
 <span class="ba-edit-text">
 Item
 </span>
 </div>
 </div>
 <div class="ba-box-model">
 <div class="ba-bm-top"></div>
 <div class="ba-bm-left"></div>
 <div class="ba-bm-bottom"></div>
 <div class="ba-bm-right"></div>
 </div>
 </div>
 <div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add new element </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 <div class="ba-column-resizer">
 <span style="">
 <i class="zmdi zmdi-more-vert"></i>
 </span>
 </div>
 <div class="ba-grid-column-wrapper span6 ba-tb-la-6 ba-tb-pt-12" data-span="6" style="">
 <div class="ba-grid-column" id="item-15289771303">
 <div class="ba-overlay"></div>
 
 
 <div class="ba-item-checkout-order-form ba-item" id="item-15289771306">
 <div class="ba-checkout-order-form-wrapper"><div class="ba-checkout-order-form-section ba-checkout-order-form-orders-wrapper">
 <div class="ba-checkout-order-form-title-wrapper">
 <span class="ba-checkout-order-form-title">Your Order</span>
 </div>
<div class="ba-checkout-order-product-row row-fluid">
 <div class="ba-checkout-order-product-image-cell">
 <img src="http://localhost/~nebise/joomla_37/components/com_gridbox/assets/images/thumb-square.png">
 </div>
 <div class="ba-checkout-order-product-title-cell">
 <span class="ba-checkout-order-product-title">Product</span>
 <span class="ba-checkout-order-product-info">
 </span>
 <span class="ba-checkout-order-product-quantity"> x 1</span>
 </div>
 <div class="ba-checkout-order-product-price-cell">
 <span class="ba-checkout-order-price-wrapper ">
 <span class="ba-checkout-order-price-currency">$</span>
 <span class="ba-cart-price-value">36.99</span>
 </span>
 </div>
</div>
</div>
<div class="ba-checkout-order-form-section ba-checkout-order-form-shipping-wrapper">
 <div class="ba-checkout-order-form-title-wrapper">
 <span class="ba-checkout-order-form-title">Shipping</span>
 </div>
<div class="ba-checkout-order-form-row ba-checkout-order-form-shipping">
 <label class="ba-radio">
 <input type="radio" name="ba-checkout-shipping" value="1" data-price="123.00" data-tax="23.37" data-total="183.36">
 <span></span>
 </label>
 <span class="ba-checkout-order-row-title">
 Shipping Method </span>
 <span class="ba-checkout-order-price-wrapper ">
 <span class="ba-checkout-order-price-currency">$</span>
 <span class="ba-checkout-order-price-value">123.00</span>
 </span>
</div>
</div>
<div class="ba-checkout-order-form-section ba-checkout-order-form-payments-wrapper">
 <div class="ba-checkout-order-form-title-wrapper">
 <span class="ba-checkout-order-form-title">Payment</span>
 </div>
<div class="ba-checkout-order-form-row ba-checkout-order-form-payment">
 <label class="ba-radio">
 <input type="radio" name="ba-checkout-payment" value="1" data-type="offline">
 <span></span>
 </label>
 <span class="ba-checkout-order-row-title">
 Cash on Delivery </span>
</div>
</div>
<div class="ba-checkout-order-form-section ba-checkout-order-form-total-wrapper">
 <div class="ba-checkout-order-form-row ba-checkout-order-form-subtotal">
 <span class="ba-checkout-order-form-row-title">Sub Total</span>
 <span class="ba-checkout-order-price-wrapper ">
 <span class="ba-checkout-order-price-currency">$</span>
 <span class="ba-checkout-order-price-value">36.99</span>
 </span>
 </div>
 <div class="ba-checkout-order-form-row ba-checkout-order-form-shipping">
 <span class="ba-checkout-order-form-row-title">Shipping</span>
 <span class="ba-checkout-order-price-wrapper ">
 <span class="ba-checkout-order-price-currency">$</span>
 <span class="ba-checkout-order-price-value">0.00</span>
 </span>
 </div>
 <div class="ba-checkout-order-form-row ba-checkout-order-form-shipping-tax">
 <span class="ba-checkout-order-form-row-title">Tax on Shipping</span>
 <span class="ba-checkout-order-price-wrapper ">
 <span class="ba-checkout-order-price-currency">$</span>
 <span class="ba-checkout-order-price-value">0.00</span>
 </span>
 </div>
 <div class="ba-checkout-order-form-row ba-checkout-order-form-tax">
 <span class="ba-checkout-order-form-row-title">Tax</span>
 <span class="ba-checkout-order-price-wrapper ">
 <span class="ba-checkout-order-price-currency">$</span>
 <span class="ba-checkout-order-price-value">0.00</span>
 </span>
 </div>
 <div class="ba-checkout-order-form-row ba-checkout-order-form-total">
 <span class="ba-checkout-order-form-row-title">Total</span>
 <span class="ba-checkout-order-price-wrapper ">
 <span class="ba-checkout-order-price-currency" data-currency="USD">
 $ </span>
 <span class="ba-checkout-order-price-value">36.99</span>
 </span>
 </div>
 <div class="ba-checkout-order-form-row ba-checkout-place-order">
 <span class="ba-checkout-place-order-btn"><span>Place Order</span></span>
 </div>
</div>
</div>
 <div class="ba-edit-item" style="animation: 0s ease 0s 1 normal none running none; display: none;">
 <span class="ba-edit-wrapper edit-settings">
 <i class="zmdi zmdi-settings"></i>
 <span class="ba-tooltip tooltip-delay">
 Item
 </span>
 </span>
 </div>
 </div>
 <div class="empty-item">
 <span>
 <i class="zmdi zmdi-layers"></i>
 <span class="ba-tooltip add-section-tooltip">
 Add new element </span>
 </span>
 </div>
 <div class="column-info">Span 6</div>
 </div>
 </div>
 </div>
 </div>
</div>
 </div>
 </div>
</div>