<div class="ba-item-preloader ba-item" id="item-15289771381">
    <div class="preloader-wrapper ba-spinner-1 ba-pt-fade">
        <div class="preloader-point-wrapper">
            <div class="preloader-point-1"></div>
            <div class="preloader-point-2"></div>
            <div class="preloader-point-3"></div>
            <div class="preloader-point-4"></div>
        </div>
    </div>
    <div class="ba-edit-item">
        <span class="ba-edit-wrapper edit-settings">
            <i class="zmdi zmdi-settings"></i>
            <span class="ba-tooltip tooltip-delay">
                Item
            </span>
        </span>
        <div class="ba-buttons-wrapper">
            <span class="ba-edit-wrapper">
                <i class="zmdi zmdi-edit edit-item"></i>
                <span class="ba-tooltip tooltip-delay settings-tooltip">
                    Edit
                </span>
            </span>
            <span class="ba-edit-text">
                Item
            </span>
        </div>
    </div>
</div>