<div class="ba-wrapper">
    <div class="ba-section row-with-intro-items row-fluid visible" id="item-15289771300">
        <div class="ba-overlay"></div>
        <div class="ba-edit-item">
            <span class="ba-edit-wrapper edit-settings">
                <i class="zmdi zmdi-settings"></i>
                <span class="ba-tooltip tooltip-delay">
                    Section                </span>
            </span>
            <div class="ba-buttons-wrapper">
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-plus-circle add-columns"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        New Row                    </span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-edit edit-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Edit                    </span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-copy copy-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Copy                    </span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-globe add-library"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Add to Library                    </span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-delete delete-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Delete                    </span>
                </span>
                <span class="ba-edit-text">
                    Section                </span>
            </div>
        </div>
        <div class="ba-box-model">
            <div class="ba-bm-top"></div>
            <div class="ba-bm-left"></div>
            <div class="ba-bm-bottom"></div>
            <div class="ba-bm-right"></div>
        </div>
        <div class="ba-section-items">
<div class="ba-row-wrapper ba-container">
    <div class="ba-row row-with-intro-items row-fluid visible" id="item-15289771301">
        <div class="ba-overlay"></div>
        <div class="ba-edit-item">
            <span class="ba-edit-wrapper edit-settings">
                <i class="zmdi zmdi-settings"></i>
                <span class="ba-tooltip tooltip-delay">
                    Row                </span>
            </span>
            <div class="ba-buttons-wrapper">
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-edit edit-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Edit                    </span>
                </span>
                <span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-copy copy-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Copy                    </span>
                </span>
                <span class="ba-edit-wrapper"><i class="zmdi zmdi-graphic-eq modify-columns"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Modify Columns</span></span><span class="ba-edit-wrapper">
                    <i class="zmdi zmdi-delete delete-item"></i>
                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                        Delete                    </span>
                </span>
                <span class="ba-edit-text">
                    Row                </span>
            </div>
        </div>
        <div class="ba-box-model">
            <div class="ba-bm-top"></div>
            <div class="ba-bm-left"></div>
            <div class="ba-bm-bottom"></div>
            <div class="ba-bm-right"></div>
        </div>
        <div class="column-wrapper">
            <div class="span12 ba-grid-column-wrapper" data-span="12">
                <div class="ba-grid-column column-content-align-middle visible" id="item-15289771302">
                    <div class="ba-overlay"></div>
                    <div class="ba-edit-item">
                        <div class="ba-buttons-wrapper">
                            <span class="ba-edit-wrapper">
                                <i class="zmdi zmdi-plus-circle add-item"></i>
                                <span class="ba-tooltip tooltip-delay settings-tooltip">
                                    Add new element                                </span>
                            </span>
                            <span class="ba-edit-wrapper">
                                <i class="zmdi zmdi-edit edit-item"></i>
                                <span class="ba-tooltip tooltip-delay settings-tooltip">
                                    Edit                                </span>
                            </span><span class="ba-edit-wrapper"><i class="zmdi zmdi-sort-amount-desc add-columns-in-columns"></i><span class="ba-tooltip tooltip-delay settings-tooltip">Nested Row</span></span>
                        </div>
                    </div>
                    <div class="ba-box-model">
                        <div class="ba-bm-top"></div>
                        <div class="ba-bm-left"></div>
                        <div class="ba-bm-bottom"></div>
                        <div class="ba-bm-right"></div>
                    </div>
                    <div class="ba-item-icon ba-item" id="item-15289771303">
                        <div class="ba-icon-wrapper">
                            <i class="zmdi zmdi-check-circle ba-btn-transition" data-icon="zmdi zmdi-check-circle "></i>
                        </div>
                        <div class="ba-edit-item">
                            <span class="ba-edit-wrapper edit-settings">
                                <i class="zmdi zmdi-settings"></i>
                                <span class="ba-tooltip tooltip-delay">
                                    Item            </span>
                            </span>
                            <div class="ba-buttons-wrapper">
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-edit edit-item"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Edit                </span>
                                </span>
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-copy copy-item"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Copy Item                </span>
                                </span>
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-globe add-library"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Add to Library                </span>
                                </span>
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-delete delete-item"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Delete Item                </span>
                                </span>
                                <span class="ba-edit-text">
                                    Item            </span>
                            </div>
                        </div>
                        <div class="ba-box-model"></div>
                    </div>
                    <div class="ba-item-headline ba-item" id="item-15289771304">
                        <div class="headline-wrapper">
                            <h1>Thank you for your order!</h1>
                        </div>
                    </div>
                    <div class="ba-item-text ba-item" id="item-15289771305">
                        <div class="content-text" contenteditable="true">
                            <p style="text-align: center;">Your order is processing! We'll send you an email with order details.</p>
                        </div>
                        <div class="ba-edit-item">
                            <span class="ba-edit-wrapper edit-settings">
                                <i class="zmdi zmdi-settings"></i>
                                <span class="ba-tooltip tooltip-delay">
                                    Item            </span>
                            </span>
                            <div class="ba-buttons-wrapper">
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-edit edit-item"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Edit                </span>
                                </span>
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-copy copy-item"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Copy Item                </span>
                                </span>
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-globe add-library"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Add to Library                </span>
                                </span>
                                <span class="ba-edit-wrapper">
                                    <i class="zmdi zmdi-delete delete-item"></i>
                                    <span class="ba-tooltip tooltip-delay settings-tooltip">
                                        Delete Item                </span>
                                </span>
                                <span class="ba-edit-text">
                                    Item            </span>
                            </div>
                        </div>
                        <div class="ba-box-model">
                            <div class="ba-bm-top"></div>
                            <div class="ba-bm-left"></div>
                            <div class="ba-bm-bottom"></div>
                            <div class="ba-bm-right"></div>
                        </div>
                    </div>
                    <div class="empty-item">
                        <span>
                            <i class="zmdi zmdi-layers"></i>
                            <span class="ba-tooltip add-section-tooltip">
                                Add new element                            </span>
                        </span>
                    </div>
                    <div class="column-info">
                        Span 12                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>