<div style="background: #f9f9f9;width: 100%;padding-bottom: 50px;">
	<div style="background: #1da6f4;width: 100%;">
		<div style="margin: 0 auto;padding: 50px 0;max-width: 600px; width: 100%;">
			<h1 style="color: #fff;font-size: 24px;font-weight: bold;text-align: center;">Enter your headline</h1>
			<div style="margin: 50px auto 0;max-width: 90%;">
				<h3 style="color: #fff;flex-grow: 1;font-size:14px;font-weight: bold;float: left;">Order No. [Order Number]</h3>
				<p style="color: #fff;font-size:14px;font-weight: normal;float: right;">[Order Date]</p>
			</div>
		</div>
		<div style="margin: 0 auto;max-width: 550px; width: 100%;background: #fff;">
			<div style="background: #fff; margin-top: 10px;padding-top: 50px;padding-bottom: 0;max-width: 450px;margin-left: auto;margin-right: auto;">
				<p style="color: #777;font-size: 12px;line-height: 2em;display: inline-block;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div style="margin: 0 auto;padding: 0;max-width: 550px; width: 100%;background: #fff;">
		<div style="background: #fff;margin-bottom: 50px;padding-top: 50px;padding-bottom: 50px;max-width: 450px;margin-left: auto;margin-right: auto;">
			<div style="border: 1px solid #f3f3f3;padding: 50px;max-width: 500px;margin-left: auto;margin-right: auto;">[Order Details]</div>
			<div style="margin-top: 50px;">
				<h3 style="font-size: 14px;font-weight: bold;">Customer Info</h3>
				<p style="font-size: 12px;color: #777;line-height: 2em;">Name: [Customer ID=1]</p>
				<p style="font-size: 12px;color: #777;line-height: 2em;">Email: [Customer ID=3]</p>
				<p style="font-size: 12px;color: #777;line-height: 2em;">Phone: [Customer ID=2]</p>
			</div>
		</div>
	</div>
	<h2 style="font-size: 24px;font-weight: bold;text-align: center;">[Store Name]</h2>
	<p style="font-size: 12px;color: #777;text-align: center;">[Store Legal Business Name], [Store Address]</p>
	<p style="font-size: 12px;color: #777;text-align: center;">[Store Email] / [Store Phone]</p>
</div>
