<div style="background: #f9f9f9;width: 100%;padding-bottom: 50px;">
    <div style="background: #1da6f4;width: 100%;">
        <div style="margin: 0 auto;padding: 50px 0;max-width: 600px; width: 100%;">
            <h1 style="color: #fff;font-size: 24px;font-weight: bold;text-align: center;">Your Subscription Expires Soon</h1>
        </div>

        <div style="margin: 0 auto;max-width: 550px; width: 100%;background: #fff;">
            <div style="background: #fff; margin-top: 10px;padding-top: 50px;padding-bottom: 0;max-width: 450px;margin-left: auto;margin-right: auto;">
                <p style="color: #777;font-size: 12px;line-height: 2em;display: inline-block;">Your [Product Title] subscription expired on [Expiration Date]</p>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto;padding: 0;max-width: 550px; width: 100%;background: #fff;">
        <div style="background: #fff;margin-bottom: 50px;padding-top: 50px;padding-bottom: 50px;max-width: 450px;margin-left: auto;margin-right: auto;">
            <div style="margin-top: 10px;">
                <p style="font-size: 12px;color: #777;line-height: 2em;">Renew your subscription to keep enjoying [Product Title]</p>
                <p style="font-size: 12px;color: #777;line-height: 2em;">If you have any questions, please don&#39;t hesitate to contact us at email@example.com</p>
            </div>
        </div>
    </div>

    <h2 style="font-size: 24px;font-weight: bold;text-align: center;">[Store Name]</h2>
    <p style="font-size: 12px;color: #777;text-align: center;">[Store Legal Business Name], [Store Address]</p>
    <p style="font-size: 12px;color: #777;text-align: center;">[Store Email] / [Store Phone]</p>
</div>