<div style="background: #f9f9f9;width: 100%;padding-bottom: 50px;">
<div style="background: #1da6f4;width: 100%;">
<div style="margin: 0 auto;padding: 50px 0;max-width: 600px; width: 100%;">
<h1 style="color: #fff;font-size: 24px;font-weight: bold;text-align: center;">Running Out of Stock</h1>
</div>

<div style="margin: 0 auto;max-width: 550px; width: 100%;background: #fff;">
<div style="background: #fff; margin-top: 10px;padding-top: 50px;padding-bottom: 0;max-width: 450px;margin-left: auto;margin-right: auto;">
<p style="color: #777;font-size: 12px;line-height: 2em; display: inline;">The&nbsp;[Product Title] is running out of stock.</p>
</div>
</div>
</div>

<div style="margin: 0 auto;padding: 0;max-width: 550px; width: 100%;background: #fff;">
<div style="background: #fff;margin-bottom: 50px;padding-top: 50px;padding-bottom: 50px;max-width: 450px;margin-left: auto;margin-right: auto;">
<div style="margin-top: 50px;">
<h3 style="font-size: 14px;font-weight: bold;">Product details</h3>

<p style="font-size: 12px;color: #777;line-height: 2em;"><span style="font-weight: bold;">Product:</span> [Product Title]</p>

<p style="font-size: 12px;color: #777;line-height: 2em;"><span style="font-weight: bold;">SKU:</span>&nbsp;[Product SKU]</p>

<p style="font-size: 12px;color: #777;line-height: 2em;"><span style="font-weight: bold;">Quantity:</span>&nbsp;[Product Quantity]</p>
</div>
</div>
</div>

<h2 style="font-size: 24px;font-weight: bold;text-align: center;">[Store Name]</h2>

<p style="font-size: 12px;color: #777;text-align: center;">[Store Legal Business Name], [Store Address]</p>

<p style="font-size: 12px;color: #777;text-align: center;">[Store Email] / [Store Phone]</p>
</div>